      
<style type="text/css">



body 						{background-color:#fff; margin:0px; }

#topo 						{width:100%; 
							 height:83px;
							 margin-left:0px;
							 background-image:url(https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/topo.jpg); 
	
	}

a							{color:#000;}
a:hover 					{color:#fff;}

#segura						{width: 250px;
													 margin-top:5px;
							 height: 390px;
							 float:left;
							 padding-bottom:5px;}

.minhadiv   				{background-color:#ededed;
							 width: 227px;
							 height: 370px;
							 border:1px;
							 border-color:#ededed;
							 border-style:solid;
							 font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
							 font-size:14px;
							 color:#333;
							 margin:3px;}

div.minhadiv:hover 			{background-color: #333;
							 border-color:#000;
							 color:#fff;
							 -moz-box-shadow:    2px 2px 2px 0px #ccc;
							 -webkit-box-shadow: 2px 2px 2px 0px #ccc;
							 box-shadow:         2px 2px 2px 0px #ccc;}


.seguratexto				{width:205px; 
							 padding-left:10px; 
							 padding-top:5px;}

.ttg						{font-size:16px; font-weight:bold;}
							 
.tt							{font-size:12px; 
							 padding-bottom:2px; 
							 padding-top:5px; 
							 color:#666;} 

.euquero					{background-image:url(https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/fundo_bt.png); 
							 margin-top:20px;  
							 font-size:12px; 
							 background-repeat:no-repeat; 
							 width:85px; 
							 height:20px; 
							 color:#fff; 
							 padding-left:10px; 
							 padding-top:2px;}
							 
img							{border:0px}						 


</style>



<div id="header" >
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
          <div class="container">
           
              
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="inactive"><a ng-href="#/home">Home</a></li> 
                    <li class="active"><a ng-href="#/landingpage">Landing Page</a></li> 
                  </ul>
              </div>
          </div>
        </nav>
        </div>

<div class="container"><br><br><br>
<form class="form-horizontal" ng-submit="inserirItem">

    
    <div class="form-group">
    <div class="col-xs-10">
        <ul class="nav nav-pills">
            <li class="active"><a href="#/landingpage">Listar</a></li>
            <li><a href="#/landingpagenew">Inserir</a></li>
        </ul>
    </div>
    </div>
    
    
    
    
    
    
<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1831/?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_S4&utm_content=PU_MensagensComAmor_S4&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/s4.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
                <div class="ttg">Smarthphone S4 Dual Chip</div> 
                <div class="tt">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 999,00</span>
               		  <br /> 
               		  R$ 149,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->

<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/2352?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_TabletGPS&utm_content=PU_MensagensComAmor_TabletGPS&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/tabletgps.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
              <div class="ttg">GPS Automotivo e Tablet 7</div> 
                <div class="tt">2 em 1 - GPS e Tablet 7" com Android,  Wi-Fi e 3G, Mp3/Mp4, 8GB.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 599,90</span>
                    		<br /> 
               		  R$ 319,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->

<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1535?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Hiphone6&utm_content=PU_MensagensComAmor_Hiphone6&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/hp6.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
                <div class="ttg">HIPHONE 6 Dual Chip</div> 
                <div class="tt"><span class="tt1">Internet WiFi, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</span></div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                   	  <span style="text-decoration:line-through; color:#666; font-size:11px;">de 1.009,90</span><br />
                   	   R$ 129,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->


<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1472?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_n920&utm_content=PU_MensagensComAmor_n920&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/n920.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
            <div class="ttg">Smartphone N920 </div> 
                <div class="tt">Desbloqueado, Dual Chip, Internet Wi-Fi, TV Integrada.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 1399,90</span>
                    		<br /> 
               		  R$ 149,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->


<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1744?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_S3&utm_content=PU_MensagensComAmor_S3&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/s3.jpg" width="225" height="200" border="0"  />            <div class="seguratexto">
                <div class="ttg">Smarthphone S3 Dual Chip</div> 
                <div class="tt"><span class="tt1">Internet, WiFi, Tv, 2 chips, Câmera, Facebook, desbloqueado.</span></div> <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 499,90</span>
           		      <br /> 
                    		R$ 129,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->

<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Beleza_e_Estetica/2347?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Modelador&utm_content=PU_MensagensComAmor_Modelador&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/modelador.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
              <div class="ttg"> Modelador BabyLiss Mira</div> 
                <div class="tt">Modelador de Cachos Profissional BabyLiss Mira</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 699,90</span>
                    		<br /> 
               		  R$ 199,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->


<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Automotivo/1685?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_GPSTV&utm_content=PU_MensagensComAmor_GPSTV&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/gpstv.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
              <div class="ttg"> GPS Automotivo com TV</div> 
                <div class="tt">GPS Automotivo com TV Digital - Tela 5 Polegadas.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 499,90</span>
                    		<br /> 
               		  R$ 239,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->





<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Netbooks/1504/?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_NetBook&utm_content=PU_MensagensComAmor_NetBook&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/netbook.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
                <div class="ttg">Netbook  Android</div> 
                <div class="tt">Tela de 7, Wi-fi, 4gb, Widescreen, entrada para cartão.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 699,90</span>
               		  <br /> 
               		  R$ 269,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->


<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1745/?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_HiPhone&utm_content=PU_MensagensComAmor_HiPhone&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/hp5.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
                <div class="ttg">Hiphone 5 Super Slim</div> 
                <div class="tt">Internet, Tv, 2 chips, 2 Câmeras, Facebook, desbloqueado.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 590,90</span>
               		  <br /> 
               		  R$ 99,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->


<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1540?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_berry&utm_content=PU_MensagensComAmor_berry&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/Berry.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
          <div class="ttg">Celular Berry 3 Chips</div> 
                <div class="tt">Celular Berry 3 Chips, Wi-fi, TV, MP4, Câmera, Bluetooth - Desbloqueado</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 299,00</span>
                    		<br />
               		   R$ 99,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->




<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Beleza_e_Estetica/2348?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Escova&utm_content=PU_MensagensComAmor_Escova&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/Chapinha2.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
              <div class="ttg"> Escova Hair Styler</div> 
                <div class="tt">Escova Giratória Modeladora Hair Styler</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 399,90</span>
                    		<br /> 
               		  R$ 119,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->



<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Tablets_e_Cases/1493/?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_TabletCelular&utm_content=PU_MensagensComAmor_TabletCelular&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/TabletCelular1.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
            <div class="ttg">Tablet Celular </div> 
                <div class="tt">Tablet Celular com Tela Capacitiva de 7 Pol, Android 4.0, Wi-fi, 3G</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 1599,00</span>
       		    <br /> 
       		    R$ 279,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->



<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Beleza_e_Estetica/2349?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Celulite&utm_content=PU_MensagensComAmor_Celulite&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/celulite.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
              <div class="ttg">Massageador Anti-Celulite</div> 
                <div class="tt">Celluless - Sua celulite indo embora em poucas semanas!</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 299,90</span>
                    		<br /> 
               		  R$ 77,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->







<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Tablets_e_Cases/1483/?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Tablet7&utm_content=PU_MensagensComAmor_Tablet7&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
	  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/android.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
            <div class="ttg">Tablet de 7 Polegadas</div> 
                <div class="tt">Tablet de 7 Polegadas, Android 4.0, 1GHz, Wi-Fi, Bluetooth e 2 Câmeras</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 12990,90</span>
                    		<br /> 
               		  R$ 324,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->



<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1476/?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Eyo&utm_content=PU_MensagensComAmor_Eyo&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/eyo.jpg" width="225" height="200" border="0"  />            <div class="seguratexto">
            <div class="ttg"> Celular Eyo E207-B</div> 
                <div class="tt">Celular Eyo E207-B Dual Chip Desbloqueado com MP3</div>                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 399,90</span>
               		  <br /> 
               		  R$ 79,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->

<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1480?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Oriole&utm_content=PU_MensagensComAmor_Oriole&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/Oriole.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
            <div class="ttg">Smartphone Oriole</div> 
                <div class="tt">Smartphone Oriole Android 4.2, GPS, 1,3 GHz, Wi-Fi</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 1499,90</span><br /> 
               		  R$ 599,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->

<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Tablets_e_Cases/1522/?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Tablet&utm_content=PU_MensagensComAmor_Tablet&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/tablet.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
                <div class="ttg">Super Tablet 6ª Geração</div> 
                <div class="tt">Wi-Fi, 4GB, 1GHZ, 3G, Tela de 7, Estéreo, Android.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 1.159,00</span>
                    		<br />
               		   R$ 199,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->

<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1460/?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_One2&utm_content=PU_MensagensComAmor_One2&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
	  <img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/One2.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
            <div class="ttg">Smartphone ONE 2</div> 
                <div class="tt">ONE 2 com Dual Chip, Android 4.1, Wi-Fi, Bluetooth e 2 Câmeras</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 1599,90</span><br /> 
                   	  R$ 279,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->




<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Tablets_e_Cases/1554?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_iTablet&utm_content=PU_MensagensComAmor_iTablet&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/itablet.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
            <div class="ttg">iTablet Mini</div> 
                <div class="tt">iTablet Mini - Android 4.1, Internet Wi-Fi, Tela Touchscreen 4.3"</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 799,90</span>
                    		<br /> 
               		  R$ 339,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->






<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Eletronicos/1725?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_DVD&utm_content=PU_MensagensComAmor_DVD&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/dvd.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
                <div class="ttg">DVD Portátil, TV e  Games</div> 
                <div class="tt">Dvd, Controle Remoto, Controle para jogo, TV, Entrada para Cartão.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 420,90</span>
               		  <br /> 
               		  R$ 249,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
			</div>
	</div>
	</a>
</div>
<!-- Fim Produto -->







<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Celulares_e_Smartphones/1520?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Relogio2Chips&utm_content=PU_MensagensComAmor_Relogio2Chips&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/imagens/relogiocelular.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
              <div class="ttg"> Relógio Celular Dual Chip</div> 
                <div class="tt">Dual Chip com câmera, FM, MP3, MP4, Bluetooth, Slot para cartão.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 399,90</span>
                    		<br /> 
               		  R$ 259,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->







<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Automotivo/2353?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_TV7&utm_content=PU_MensagensComAmor_TV7&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/tv.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
              <div class="ttg">TV LCD Portátil 7,8 Pol.</div> 
                <div class="tt">TV LCD  7,8 Pol. com Controle,   USB, Cartão SD e Conexão A/V.</div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 399,90</span>
                    		<br /> 
               		  R$ 243,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->




<!-- Produto -->
<div id="segura">    
	<a href="http://www.produtodireto.com/produto/Beleza_e_Estetica/2350?utm_source=MensagensComAmor&utm_medium=PopUnder&utm_term=PU_MensagensComAmor_Secador&utm_content=PU_MensagensComAmor_Secador&utm_campaign=PU_MensagensComAmor" target="_blank" style="text-decoration:none; display:block;">   
	<div class="minhadiv">
		<img src="https://s3-sa-east-1.amazonaws.com/produtodireto/popunder/images/secador.jpg" width="225" height="200" border="0"  />
        
            <div class="seguratexto">
              <div class="ttg"> Secador Babyliss  Volare</div> 
                <div class="tt">Secador  Profissional Babyliss Pro V1 Volare com Gerador de Íons </div> 

                <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150">
                    	<div style="font-size:18px; color:#F90;">
                        	<span style="text-decoration:line-through; color:#666; font-size:11px;">de 599,90</span>
                    		<br /> 
               		  R$ 199,90</div>
                    </td>
                    <td width="5"></td>
                    <td><div class="euquero">eu quero</div></td>
                </tr>
                </table>
	  </div>
	</div>
	</a>
</div>
<!-- Fim Produto -->


<!-- Produto -->
<div id="segura" style="height:350px;">    
	
</div>
<!-- Fim Produto -->
    
    
    
    
    
    
    
    
    
    
    


</form>
</div>
