
<div class="container">
<form class="form-signin" role="form" ng-submit="login()">

    <h2 class="form-signin-heading"><img src="images/logo.png"></h2>
    
    <input type="email" class="form-control" placeholder="email"  autofocus>
    <input type="password" class="form-control" placeholder="senha" >
    
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

</form>
</div>
